@charset "UTF-8";
/* CSS Document */

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
}

nav {
  padding: 0;
  margin: 0;
}

header {
  position: absolute;
}
header a{
  display: block;
  padding: 10px;
}
header form{
  padding-left: 10px;
}
header form select{
  width: 190px;
  margin: 0 0 10px 0;
}

footer{
	background: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
}
footer ul{
	display: flex;
	justify-content:center;
}
footer ul li{
	list-style-type: none;
}