<ul>
	<li><a href="http://www.philharmoniedeparis.fr" target="_blank"><img src="images/logos/philharmonie.png" alt="Philharmonie de Paris" /></a></li>
	<li><a href="http://www.ed.ac.uk" target="_blank"><img src="images/logos/edinburgh.png" alt="The University of Edinburgh" /></a></li>
	<li><a href="http://www.gnm.de" target="_blank"><img src="images/logos/gnm.png" alt="Germanisches National Museum" /></a></li>
	<li><a href="http://www.mim.be" target="_blank"><img src="images/logos/mim.png" alt="Musik Instrumenten Museum" /></a></li>
	<li><a href="http://network.icom.museum/cimcim/" target="_blank"><img src="images/logos/icom.png" alt="International Council of Museums" /></a></li>
</ul>