<div class="home" >
	<div class="box international">
		<a href="http://www.mimo-international.com/MIMO/" style="background:url('images/international1.jpg') left top no-repeat fixed; ">
			<div class="text">
				<h2>MIMO International</h2>
				<p><span>Explore the world collections of musical instruments. More than 55000 instruments...</span></p>
			</div>
		</a>
	</div>
	<div class="box admin">
		<a href="http://www.mimo-db.eu/mimo/infodoc/page-daccueil-infodoc.aspx?_lg=EN-en" style="background:url('images/mimodb.png') -18px 100px no-repeat fixed; ">
			<div class="text">
				<h2>MIMO DB</h2>
				<p><span>Du texte...</span></p>
			</div>
		</a>
	</div>
	<div class="box thesaurus">
		<a href="InstrumentsKeywords/" style="background:url('images/vizkos.png')  110px top no-repeat fixed;">
			<div class="text">
				<h2>VIZSKOS</h2>
				<p><span>View MIMO thesaurus and Hornbostel &amp; Sachs classiffication in SKOS</span></p>
			</div></a>
	</div>

</div>