
<main class="main">
  <header><a href="/InstrumentsKeywords/"><img src="/images/logos/mimo.png" alt="MIMO - Musical Instruments Museums Online" /></a>
  	<nav class="tools"></nav>
  </header>
  <nav class="nav">
    
  </nav>
  <article></article>
</main>
<footer></footer>
