<form>
	<select id="selectThesaurus" name="selectThesaurus">
	{{#each thesauri}}
  		<option value="{{id}}" {{#if selected}} selected="selected" {{/if}} >{{name}}</option>
	{{/each}}
	</select><br />
	<select id="selectNav" name="selectNav">
	{{#each viewTypes}}
  		<option value="{{id}}" {{#if selected}} selected="selected" {{/if}} >{{name}}</option>
	{{/each}}
	</select>
	<!--<input name="search" id="search" placeholder="Rechercher" />-->
</form>